<a href="https://colab.research.google.com/github/K-Kilel/Week-4-Independent-Project/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_09_Kelvin_Kilel_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing the required Libraries

In [9]:
# Importing the pandas library
import pandas as pd

# Importing the numpy library
import numpy as np

## Reading the dataset from the csv file

In [10]:
# Let's read the data from the CSV file and create the dataframe to be used
df = pd.read_csv("Autolib_dataset.csv")

## Previewing the dataset

In [11]:
# Let's preview the first 10 rows of our data
df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

## Accessing information about the dataset

In [12]:
# Getting to know more about the dataset by accessing its information

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

## Cleaning our dataset

##### Let us perform data cleaning procedures below providing a documentation for our actions

## Validity

In [15]:
# Removing Irrelevant Data
# We will drop columns that will not be useful in our analysis

df.drop(['Displayed comment', 'Geo point', 'Scheduled at', 'Displayed comment', 'Public name' ], axis = 1, inplace= True)
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 21 columns]

## Accuracy

In [33]:
# From our Dataset description, cars should be equivalent to Bluecar

df[(df['Cars'] == df['Bluecar counter'])]

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 21 columns]

## Completeness

In [34]:
# Checking if there is any missing value in dataframe as a whole

np.count_nonzero(df.isnull())

# There are no missing values in the remaining data.

0

### Uniformity

In [45]:
# Let's combine the year, month, day into one column

# Converting the year, month and day to string for easier merging
df[['year', 'month', 'day']] = df[['year', 'month', 'day']].astype(str)

# Joining the year, month and day columns to one column date
df['Date'] = df[['year', 'month', 'day']].agg(':'.join, axis=1)

# Dropping the year, month and day columns
df.drop(['year', 'month', 'day'], axis = 1, inplace= True)

# Converting the Date column to datetime data type
df['Date'] = pd.to_datetime(df['Date'], format='%Y:%m:%d')

# Previewing to see the changes were applied
df.head()

                              Address  Cars  ...  minute       Date
0                 2 Avenue de Suffren     0  ...      43 2018-04-08
1           145 Rue Raymond Losserand     6  ...      24 2018-04-06
2    2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03
3              51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04
4  6 avenue de la Porte de Champerret     3  ...      23 2018-04-08

[5 rows x 19 columns]

## Let's answer the research questions.

#### Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [167]:
# Data ranges from 1st April, 2018 to 9th April, 2018
# Creating a dataframe that only shows data for Paris
paris_data = df.loc[(df['City'] == 'Paris')]

# Picking cars results in few or no cars in the stations. 
# We will group the data according Bluecar counter and hours to view the number of cars at the counter and the hour.
# The lower the number of cars the higher the picking rate.

bluecar_paris = df1.groupby('Bluecar counter')['hour'].value_counts().sort_values( ascending = False)

bluecar_paris.head(1)

# The most popular hour for picking cars in Paris is 2 am.

Bluecar counter  hour
0                2       54
Name: hour, dtype: int64

#### What is the most popular hour for returning cars?

In [168]:
# Popular hour for returning cars will have the maximum number of cars
# Let's create a column for total number of cars
df['Total_cars'] = df.iloc[:, 2:5].sum(axis=1)

# Let's group by hour and get the sum values of total cars returned in each hour
total_cars_returned = df.groupby(['hour']).sum('Total_cars')

# Finding the highest number of total cars available in the respective hour
total_cars_returned['Total_cars'].sort_values(ascending= False).head(1)

# The most popular returning hour is 6 am.

hour
6    654
Name: Total_cars, dtype: int64

### What station is the most popular?
i) Overall?

In [169]:
# ID - shows the unique id of the station while slot shows the available car slots in each station
# Let's group our data according to ID and the total cars column
ID_cars_group = df.groupby(['ID'])['Total_cars'].sum().sort_values(ascending = False)

# Most popular station overall is Portedemontrouge in Paris

ID_cars_group.head(1)

ID
paris-portedemontrouge-8    50
Name: Total_cars, dtype: int64

ii) At the most popular picking hour

In [171]:
# Let's find the most popular picking hour 
# We had grouped according hours and total cars
# Finding the lowest number of total cars available in the respective hour
pop_hour = total_cars_returned['Total_cars'].sort_values(ascending= False).tail(1)

print(pop_hour)
# 19 hours is the popular picking hour for all cars
# Create dataframe for 19 hours only
at_pop_pickhour = df[(df['hour'] == 19)]

#Let's group our data according to ID and the total cars column
most_pop_pickhour = at_pop_pickhour.groupby(['ID'])['Total_cars'].sum().sort_values(ascending = False).head(1)

most_pop_pickhour

# Most Popular station at most popular picking hour is Pyrenees in Paris

hour
19    422
Name: Total_cars, dtype: int64

ID
paris-pyrenees-236    9
Name: Total_cars, dtype: int64

### What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?

In [175]:
#Let' find the most popular postal code for picking up Bluecars
most_pop_code = df.groupby(['Postal code','Bluecar counter'])['hour'].value_counts().sort_values( ascending = False)
# Presenting the most popular postal code
print(most_pop_code.head(1))

# The most popular station is Portedemontrouge-8 in Paris.
# Let the station to the postal code

code_station = df.loc[(df['Postal code'] == 75008)]

code_station['ID'].head(1)

# The most popular staion is not the same station for popular postal code for picking up Bluecars.

Postal code  Bluecar counter  hour
75008        0                7       8
Name: hour, dtype: int64

115    paris-sainthonore-161
Name: ID, dtype: object

Overall?

In [176]:
#Let's find the most popular postal code overall
most_pop_code_overall = df.groupby(['Postal code'])['hour'].value_counts().sort_values( ascending = False)
# Presenting the most popular postal code
print(most_pop_code_overall.head(1))

# The most popular station is Portedemontrouge-8 in Paris.
# Let the station to the postal code

code_station_overall = df.loc[(df['Postal code'] == 75016)]

code_station_overall['ID'].head(1)

# The most popular station is not the same station for popular postal code for picking up cars.

Postal code  hour
75016        6       19
Name: hour, dtype: int64

41    paris-mozart-68
Name: ID, dtype: object

At the most popular picking hour?

In [165]:
# Most popular hour is 19hours
at_pop_hour = df[(df['hour'] == 19)]

most_pop_code_pickhour = at_pop_hour.groupby(['Postal code', 'Bluecar counter'])['hour'].value_counts().sort_values( ascending = False)
# Presenting the most popular postal code
print(most_pop_code_pickhour.head(1))

# The most popular station is Portedemontrouge-8 in Paris.
# Let the station to the postal code

code_station_pickhour = df.loc[(df['Postal code'] == 75003)]

code_station_pickhour['ID'].head(1)

# The most popular station is not the same station for popular postal code for picking up Bluecars.

Postal code  Bluecar counter  hour
75003        0                19      4
Name: hour, dtype: int64

54    paris-republique-17
Name: ID, dtype: object

### Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

###### What postal code is the most popular for picking up? Does the most popular station belong to that postal code?

##### i) Utilib

In [178]:
#Let' find the most popular postal code for picking up utilib
most_pop_code_utilib = df.groupby(['Postal code','Utilib counter'])['hour'].value_counts().sort_values( ascending = False)
# Presenting the most popular postal code
print(most_pop_code_utilib.head(1))

# The most popular station is Portedemontrouge-8 in Paris.
# Let the station to the postal code

code_station_utilib = df.loc[(df['Postal code'] == 75015)]

code_station_utilib['ID'].head(1)

# The most popular station is still not the same station for popular code for picking up utilib.

Postal code  Utilib counter  hour
75015        0               16      17
Name: hour, dtype: int64

0    paris-suffren-2
Name: ID, dtype: object

##### ii) Utilib 1.4

In [181]:
#Let' find the most popular postal code for picking up Utilib 1.4 counter
most_pop_code_utilib1 = df.groupby(['Postal code','Utilib 1.4 counter'])['hour'].value_counts().sort_values( ascending = False)
# Presenting the most popular postal code
print(most_pop_code_utilib1.head(1))

# The most popular station is Portedemontrouge-8 in Paris.
# Let the station to the postal code

code_station_utilib1 = df.loc[(df['Postal code'] == 75015)]

code_station_utilib1['ID'].head(1)

# The most popular staion is not the same station for popular code for picking up Bluecars.

Postal code  Utilib 1.4 counter  hour
75015        0                   16      18
Name: hour, dtype: int64

0    paris-suffren-2
Name: ID, dtype: object

### At most popular picking hour(19)?

##### i) Utilib

In [182]:
# Let's find the postal code at most popular picking time for Utilib car
most_pop_code_pickhour_utilib = at_pop_hour.groupby(['Postal code', 'Bluecar counter'])['hour'].value_counts().sort_values( ascending = False)
# Presenting the most popular postal code
print(most_pop_code_pickhour_utilib.head(1))

# The most popular station is Portedemontrouge-8 in Paris.
# Let the station to the postal code

code_station_pickhour_utilib = df.loc[(df['Postal code'] == 75003)]

code_station_pickhour_utilib['ID'].head(1)

# The most popular station is not the same station for popular postal code for picking up Utilib.

Postal code  Bluecar counter  hour
75003        0                19      4
Name: hour, dtype: int64

54    paris-republique-17
Name: ID, dtype: object

ii) Utilib 1.4

In [184]:
# Let's find the postal code at most popular picking time for Utilib 1.4 car
most_pop_code_pickhour_utilib1 = at_pop_hour.groupby(['Postal code', 'Bluecar counter'])['hour'].value_counts().sort_values( ascending = False)
# Presenting the most popular postal code
print(most_pop_code_pickhour_utilib1.head(1))

# The most popular station is Portedemontrouge-8 in Paris.
# Let the station to the postal code

code_station_pickhour_utilib1 = df.loc[(df['Postal code'] == 75003)]

code_station_pickhour_utilib1['ID'].head(1)

# The most popular station is not the same station for popular postal code for picking up Utilib 1.4.

Postal code  Bluecar counter  hour
75003        0                19      4
Name: hour, dtype: int64

54    paris-republique-17
Name: ID, dtype: object